@use '../../styles/variables' as *;
@use '../../styles/typography';

.main {
  height: calc(100dvh - 72px); // viewport menos o header global
  width: 100%;
}

.home__hero {
  background-image: url('../../assets/images/house.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5em;
}

.home__cta {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 12px;
  width: 700px;
  padding: 3em;
}

.home__cta-title {
  font-size: 3rem;
}

.home__cta-description {
  font-size: $fs-body-l;
  font-family: $font-body;
  color: $color-text-secondary;
  font-weight: 400;
}

.home__cta-buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 1em;
  border: 2px solid $color-border;
  border-radius: $radius-lg;
  padding: 1em;
  height: 110px;
  background-color: $color-white;
}
